<div class="row">
    
    <div class="col-lg-12 text-center">
        <h3 class="mt-5">Add site</h3>
    </div>

    <div class="col-lg-12">
        <form >
            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="logLevel">http protocol</label>
                <div class="col-sm-10">
                    <select [(ngModel)]="ssl" name="ssl" class="form-control" id="ssl"> 
                        <option value="0">http://</option>
                        <option value="1">https://</option>
                    </select>
                </div>
            </div>

            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="domainName">Domain name</label>
                <div class="col-sm-10">
                    <input required [(ngModel)]="domainName" name="domainName" class="form-control" id="domainName" type="text">
                </div>
            </div>

            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="siteUsername">username ( with Drupamonitor permission )</label>
                <div class="col-sm-10">
                    <input required [(ngModel)]="siteUsername" name="siteUsername" class="form-control" id="siteUsername" type="text">
                </div>
            </div>

            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="sitePassword">password</label>
                <div class="col-sm-10">
                    <input required [(ngModel)]="sitePassword" name="sitePassword" class="form-control" id="sitePassword" type="password">
                </div>
            </div>

            <div class="form-group row form-option"  *ngIf="isTestBtnVisible">
                <div class="col-sm-10 offset-sm-2">
                    <button (click)="testConnection()" type="button" class="form-control btn btn-primary drupamonitor-button">Test connection</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2" *ngIf="isSaveBtnVisible">
                    <button (click)="addSite()" type="submit" class="form-control btn btn-primary drupamonitor-button">Save</button>
                </div>
            </div>
            <p>
               
            </p>
            <div class="row" *ngIf="isLoadingVisible" >
                <div class="col-lg-12 text-center">  
                    <img src="assets/loading.gif" />
                </div>
            </div>
        </form>
    </div>

</div>