body 
{
  padding-top: 56px;
}

.header-title
{
    padding: 0px 20px 20px 20px;
}

.list-add-new-site-btn
{
    margin-top: 30px;
}

.hidden
{
    display: none;
}

.logo
{
    max-width: 50px;
    max-height: 50px;
}
