<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img class='logo' src='assets/drupamonitor.png'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive"> 
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> 
          <a class="nav-link" (click)="hidebsNav()" [ngClass]="getMenuItemActive('')"  routerLink="">Sites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hidebsNav()" [ngClass]="getMenuItemActive('addsite')" routerLink="addsite">Add site</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hidebsNav()" [ngClass]="getMenuItemActive('settings')" routerLink="settings">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
   
    <router-outlet></router-outlet>
    
   
    
</div>