/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body 
{
  padding-top: 56px;
}

.nav-item
{
    margin: auto;
}

.header-title
{
    padding: 0px 50px 50px 50px;
}

.form-option
{
    margin-top: 50px;
}


.drupamonitor-button, 
.drupamonitor-button:hover, 
.drupamonitor-button:active,  
.drupamonitor-button:active:focus, 
.drupamonitor-button:focus, 
{
    background-color: #000000;
    border-color: #000;
    color: white;
    border-radius: 50px;
    outline: none;
}
