<div class="row">
    
    <div class="col-lg-12 text-center">
        <h3 class="mt-5 header-title">Sites</h3>
    </div>
    <div class="col-lg-12"  id="siteslist" >   
       <div class="list-group" *ngFor="let site of sites">
            <a href="#" class="list-group-item-info site-item list-group-item list-group-item-action">{{ site.getDomain() }}</a>
       </div>
        <div style="margin-top:40px;">
            <a routerLink="addsite" class="btn btn-primary drupamonitor-button form-control">
            Add new site
            </a>
        </div>
    </div>
    
</div>