<div class="row">
    
    <div class="col-lg-12 text-center">
        <h3 class="mt-5">Settings</h3>
    </div>
    
    <div class="col-lg-12">
        <form>
            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="logLevel">Notification log level</label>
                <div class="col-sm-10">
                    <select [(ngModel)]="logLevel" name="logLevel" (change)="updateLogLevel(logLevel)" class="form-control" id="logLevel"> 
                        <option value="0">emergency</option>
                        <option value="1">alert</option>
                        <option value="2">critical</option>
                        <option value="3">error</option>
                        <option value="4">warning</option>
                        <option value="5">notice</option>
                        <option value="6">info</option>
                    </select>
                </div>
            </div>

            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="notificationMethod">Notification method</label>
                <div class="col-sm-10">
                    <select [(ngModel)]="notificationMethod" name="notificationMethod" (change)="updateNotificationMethod(notificationMethod)" class="form-control" id="notificationMethod"> 
                        <option value="vibration">Vibration</option>
                        <option value="sound">Sound</option>
                    </select>
                </div>
            </div>

            <div class="form-group row form-option">
                <label class="col-sm-2 col-form-label" for="logLevel">Logs refresh frequency</label>
                <div class="col-sm-10">
                    <select [(ngModel)]="logLevelFrequency" name="logLevelFrequency" (change)="updateLogLevelFrequency(logLevelFrequency)" class="form-control" id="logLevelFrequency"> 
                        <option value="1">1 minute</option>
                        <option value="5">5 minutes</option>
                        <option value="15">15 minutes</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>